/* .DragNDrop {
    text-align: center;
  }
   */

  
  .DragNDrop-header {
    background-color:  #1e0994;
    /* min-height: 4px; */
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
    color:  #ada397
  }
  
  .drag-n-drop {
    
  /* margin:0 auto; */
  margin-left: 6px;
  font-size: 40px;
  font-variant: small-caps;
    padding: 5px;
    display: grid;
    grid-gap: 10px;
    gap: .5rem;
    width: 80%;
    height: 90%;
    grid-template-columns: repeat(auto-fill, 300px);
    align-items: start;
  }
  .dnd-group {
    background-color: #09c567;
    border-radius: 5px;
    padding: 7px;
  }
  .dnd-item {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100px;
    background-color:  #c1f212;
    border-radius: 5px;
    color: #020202;
    font-weight: bold;
  }
  /* .dnd-item:not(:last-of-type) {
    margin-bottom: .5rem;
  } */
  .dnd-item * {  
    margin-left: 40px;
    font-size: 30px;
  }
  .group-title {
    text-align: left;
    margin-bottom: .5rem;
    font-size: 1.5rem;
  }
  .current {
    background-color:  #9e70e8;
  }
  
  .hhhh{
    font-size: 300px;

  }