/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}


.erorr444{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
 }

 .Ne{
  background-color: rgb(233, 238, 243);
  /* border-left: 4px solid #12310c; */
  color: rgb(0, 0, 0);
  margin-left: 500px;
  margin-right: 700px;
  float: right
 }
.logIn{
  background-color:#001433  ;
  background-image:url("https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia0.giphy.com%2Fmedia%2F57Y7JIqvH9okJCJYjp%2Fgiphy.gif");
  margin: auto;
}