.DragNDrop {
    text-align: center;
  }
  
  /* .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
   */
  /* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */
  
  .DragNDrop-header {
    background-color:  #1e0994;
    min-height: 4px;
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
    color:  #ada397
  }
  
  .drag-n-drop {
    
  /* margin:0 auto; */
  margin-left: 600px;
  font-size: 30px;
    padding: .5rem;
    display: grid;
    grid-gap: 10px;
    gap: .5rem;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fill, 700px);
    align-items: start;
  }
  .dnd-group {
    background-color: #f8fafd;
    border-radius: 5px;
    padding: 7px;
  }
  .dnd-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color:  #eca1a6;
    border-radius: 5px;
    color: #020202;
    font-weight: bold;
  }
  .dnd-item:not(:last-of-type) {
    margin-bottom: .5rem;
  }
  .dnd-item * {  
    margin: 0;
    font-size: 1.2rem;
  }
  .group-title {
    text-align: left;
    margin-bottom: .5rem;
    font-size: 1.5rem;
  }
  .current {
    background-color:  #bdcebe;
  }
  
  