
.NavbarItems1 {
    background: linear-gradient(90deg, rgb(8, 8, 8) 0%, rgb(65, 59, 53) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.navbar-logo1 {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}
/* Note :grid-template-columns => property specifies the number (and the widths) of columns in a grid layout. The values are a space separated list,
 where each value specifies the size of the respective column*/
.nav-menu1 {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.fa-react {
    margin-left: 0.5rem;
    font-size:2.54rem;
    color: rgb(255, 128, 0);
}
.nav-links1 {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links1:hover {
    border-left: 30px solid rgb(255, 191, 0); 
    transition: 0.8s;
    background: rgb(255, 128, 0) ;
    border-radius: 4px;
    
}

.fa-hamburger {
    color: #fff;
    margin-left: 0.5rem;
    font-size:2rem;
    
}

.nav-links-mobile {
    display: none;
}

.menu-icon1 {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu1.active {
        background: #050505;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links1 {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        border-left: 30px solid rgb(255, 191, 0); 
        transition: 0.8s;
        background: rgb(255, 128, 0) ;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon1 {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #4ad9e4;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #fff;
        transition: 250ms;
    }

    Button {
        display: none;
    }
}
